/* css document */

.menu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
}


#mobilSrch{
  position: absolute;
  visibility: hidden;
}

#mobiLogo{
  position: absolute;
  visibility: hidden;
}

.asideMenu{
  margin-top: 1.9em;
}

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1500; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: #fff; /* White*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
   color: #000;
   text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
   font-size: 40px;
}


/* Container needed to position the overlay. Adjust the width as needed */
.img-overlay-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.img-overlay-container:hover .overlay {
  opacity: 1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

@media (max-width: 810px) {

  #mobilSrch{
    position: static;
    visibility: visible;
  }

  #search-lg{
    position: absolute;
    visibility: hidden;
  }
}

@media (max-width: 540px){
  .logo{
    position: absolute;
    visibility: hidden;
  }

  #mobiLogo{
    position: static;
    visibility: visible;
  }

  .asideMenu{
    margin-top: 5.9em;
  }
}
